/* made mirage */
@font-face { font-family: MADE Mirage; src: url('../font/MADE-Mirage-Reg.otf'); } 
@font-face { font-family: MADE Mirage; font-weight: bold; src: url('../font/MADE-Mirage-Bold.otf');}
@font-face { font-family: MADE Mirage Med; font-weight: bold; src: url('../font/MADE-Mirage-Med.otf');}

@font-face { font-family: Neutra; src: url('../font/NeutraText-Book.otf'); } 
@font-face { font-family: Neutra; font-weight: italic; src: url('../font/NeutraText-Book.otf');}
@font-face { font-family: Neutra; font-weight: bold; src: url('../font/NeutraText-Bold.otf');}
@font-face { font-family: Recoleta; src: url('../font/Recoleta-RegularDEMO.otf');}
@font-face { font-family: Serif-Gothic; src: url('../font/SerifGothicStd.otf');}
@font-face { font-family: Souvenier; src: url('../font/souvenir.ttf');}

body {
    background-color: #F3BBBC;
    font-family: "Neutra";
}

#main {
    font-size: 100px;
}

#main-2 {
    font-size:40px;
}

#nav {
    /* margin-left:20px;
    margin-top:40px; */
    text-align: center;
}

#content {
    margin: auto;
    width: 75%;
}

h1, #nav, #main-2, h6 {
    font-family: "Neutra"
}

h3 {
    font-size: 40px;
    font-family: "Recoleta"
}

#para-content {
    font-family: "Neutra";
    font-size:25px;
}

.row-h {
    display: flex;
  }
  
  .column-h {
    flex: 50%;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  


  /* deals with links */
  a {
    text-decoration: none;
  }

  a:link {
    color:#FE0200;
  }
   /* visited link */
  a:visited {
    color:#FE0200;
  }
  
  /* mouse over link */
  a:hover {
    color:#401509
  }
  
  /* selected link */
  a:active {
    color: #cf694c;
  }