/* made mirage */
@font-face { font-family: CallingCode; src: url('../font/CallingCode-Regular.ttf'); }
@font-face { font-family: EBGaramond; src: url('../font/EBGaramond12-Regular.otf'); }


body {
    background-color: #AFC2E3;
    color: #AFC2E3;
}


#main {
    font-size: 60px;
    color:#191970;
}

#main-2 {
    font-size:26px;
    color: #191970;
}

.column-intro {
  padding-left:10%;
  padding-bottom: 10%;
}

.imgjules {
  display: block;
  margin-left: 70px;
  margin-top: 150px;
  margin-bottom: 50px;
  width: 70%;
  border: 7px solid #191970;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* nav things */

.navwrapper {
  display: block;
  background-color: none;
  margin: 0;
  list-style: none;
  overflow: hidden;

}

.navbar {
  display: block;
  background-color: none;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navbar li {
  float: left;
  padding: 50px;
  text-align: center;
}

/* Change the color of links on hover */
.navbar a:hover {
  text-decoration-color: #ffaa00;
  color: #ffaa00;
}

.navbar a.active {
  background-color: #ff6600;
  color: #ff6600;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.navsocial {
  display: block;
  background-color: none;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.navsocial li {
    float: right;
    padding: 20px;
    text-align: center;
  }

  .navsocial a:hover {
    text-decoration-color: #ffaa00;
    color: #ffaa00;
  }

  /* Add a color to the active/current link */
  .navsocial a.active {
    background-color: #ff6600;
    color: #ff6600;
  }

#content {
    margin: auto;
    width: 90%;
}


h1, h4, #nav, #main-2, #column-shortstories {
    font-family: "EBGaramond"
}

h3 {
    font-size: 40px;
    font-family: "CallingCode";
}

a {
    font-family: "CallingCode";
    font-size: 30px;
}

#para-content {
    font-family: "EBGaramond";
    font-size:20px;
}

.project {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px;
}

.project:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.projfont {
  font-size: 16px;
  padding: 15px;
}

.row {
    display: flex;
  }

.column {
  flex: 50%;
}

.gif {
  width: 40%;
  height: 40%
}

.mediaimages {
      /* display: block;
      margin-left: 50px;
      margin-top: 100px;
      margin-bottom: 50px;
      width: 70%; */
      border: 7px solid #191970;
      /* padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px; */
      width:370px;
}

.artimages {
      /* display: block;
      margin-left: 50px;
      margin-top: 100px;
      margin-bottom: 50px;
      width: 70%; */
      border: 7px solid #191970;
      /* padding-right: 5px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px; */
      width:370px;
}

.full_art {
  border: 7px solid #191970;
  width:70%;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.moon-format-odd {
  float: left;
  border: 7px solid #191970;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  height: 50%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.moon-format-even {

  float: right;
  border: 7px solid #191970;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  height: 50%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}



/* for the buffer zones in writing */

.shorts{
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
}

    .shortstories {
      font-size:26px;
      color: #191970;
    }

  .poems_highlight a:hover{
    text-decoration-color: #ffaa00;
    color: #ffaa00;
  }


/* deals with links */
  a {
    text-decoration: none;
  }

  a:link {
    color:#191970;
  }

  /* visited link */
  a:visited {
    color:#191970;
  }

  /* mouse over link */
  a:hover {
    color:#191970
  }


  #pot {
    width:90%;
    margin-top:10%;
    /* border-radius: 100%; */
  }

  .row-intro {
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  /* .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
    } */

  a.button-class {
    display:inline-block;
    padding:0.4em 1em;
    margin:0 0.2em 0.2em 0;
    border-radius:0.6em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Neutra',sans-serif;
    font-weight:100;
    color:#FFFFFF;
    background-color:#191970;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }
    a.button-class:active{
      top:0.1em;
    }
    @media all and (max-width:30em){
     a.button6{
      display:block;
      margin:0.4em auto;
     }
/* this is for the buffer for short stories */



    /*for the columns in writing */



/*
  .bopbop img{
      display: block;
      width: 10%;
      text-align: center;
      float: left;
    } */

    /* .clear {
      clear: both;
      height: 0;
      width: 0;
      font-size: 1px;
      line-height: 0;
    } */
