/* made mirage */
@font-face { font-family: MADE Mirage; src: url('../font/MADE-Mirage-Reg.otf'); } 
@font-face { font-family: MADE Mirage; font-weight: bold; src: url('../font/MADE-Mirage-Bold.otf');}
@font-face { font-family: MADE Mirage Med; font-weight: bold; src: url('../font/MADE-Mirage-Med.otf');}
@font-face { font-family: Neutra; src: url('../font/NeutraText-Book.otf'); } 
@font-face { font-family: Neutra; font-weight: italic; src: url('../font/NeutraText-Book.otf');}
@font-face { font-family: Neutra; font-weight: bold; src: url('../font/NeutraText-Bold.otf');}
@font-face { font-family: Recoleta; src: url('../font/Recoleta-RegularDEMO.otf');}
@font-face { font-family: Serif-Gothic; src: url('../font/SerifGothicStd.otf');}
@font-face { font-family: Souvenier; src: url('../font/souvenir.ttf');}

body {
    background-color:#F3BBBC;
    color: #3a0000;
}

#main {
    font-size: 60px;
    color:#FE0200;
}

#main-2 {
    font-size:26px;
    padding-left:10%;
    color: #FE0200
}

#nav {
    /* margin-left:20px;
    margin-top:40px; */
    text-align: center;
}

#content {
    margin: auto;
    width: 75%;
}

h1, h4, #nav, #main-2 {
    font-family: "Neutra"
}

h3 {
    font-size: 40px;
    font-family: "Recoleta";
}

#para-content {
    font-family: "Neutra";
    font-size:20px;
}

.project {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px;
}

.project:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.projfont {
  font-size: 16px;
  padding: 15px;
}

.row {
    display: flex;
  }
  
.column {
  flex: 50%;
}

.gif {
  width: 40%;
  height: 40%
}

/* deals with links */
  a {
    text-decoration: none;
  }

  a:link {
    color:#cb0100;
  }
  
  /* visited link */
  a:visited {
    color:#cb0100;
  }
  
  /* mouse over link */
  a:hover {
    color:#650000
  }
  

  #pot {
    width:90%;
    margin-top:10%;
    /* border-radius: 100%; */
    box-shadow: 5px 5px #cf694c;
  }

  .row-intro {
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  /* .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
    } */

  a.button-class {
    display:inline-block;
    padding:0.4em 1em;
    margin:0 0.2em 0.2em 0;
    border-radius:0.6em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Neutra',sans-serif;
    font-weight:100;
    color:#FFFFFF;
    background-color:#650000;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }
    a.button-class:active{
      top:0.1em;
    }
    @media all and (max-width:30em){
     a.button6{
      display:block;
      margin:0.4em auto;
     }
    }